@using(@Html.BeginForm("Index", "AlumniUsers", FormMethod.Post))
{
    <input type="text" name="SearchPhrase" id="SearchPhrase" />
    <select name ="type" id="type">
        <option value="name">Name</option>
        <option value="studentid">StudentID</option>
        <option value="employer">Employer</option>
    </select>

    <input type="submit" name="Submit" id="Submit" />
    
}