@model AlumniTrackerSite.Models.AlumniUser


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AlumniUser</h4>
<hr />

<div class="container-lg border text-center mt-3 Banner">
    <h1>User Info</h1>
</div>
<form asp-action="Create">
<div class="row">
    <div class="col-lg-12">
        
            <div class="row">
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="StudentId" class="control-label"></label>
                        <input asp-for="StudentId" class="form-control" />
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
        
    </div>
</div>

<div class="container-lg border text-center mt-3 Banner">
    <h1>General Info</h1>
</div>
<div class="row">
    <div class="col-lg-12">

            <div class="row">
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="Degree" class="control-label"></label>
                        <input asp-for="Degree" class="form-control" />
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="YearGraduated" class="control-label"></label>
                        <input asp-for="YearGraduated" class="form-control" />
                        <span asp-validation-for="YearGraduated" class="text-danger"></span>
                    </div>
                </div>
            </div><div class="row">
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
            </div><div class="row">
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="Zip" class="control-label"></label>
                        <input asp-for="Zip" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                </div>
            </div><div class="row">
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col mt-3">
                    <div class="form-group">
                        <label asp-for="FieldofEmployment" class="control-label"></label>
                        <input asp-for="FieldofEmployment" class="form-control" />
                        <span asp-validation-for="FieldofEmployment" class="text-danger"></span>
                    </div>
                </div>
            </div>

    </div>
</div>

<div class="container-lg border text-center mt-3 Banner">
    <h1>Employer Info</h1>
</div>

<div class="row">
    <div class="col-md-4">

            <div class="form-group mt-3">
                <label asp-for="EmployerName" class="control-label"></label>
                <input asp-for="EmployerName" class="form-control" />
                <span asp-validation-for="EmployerName" class="text-danger"></span>
            </div>

    </div>
</div>

<div class="container-lg border text-center mt-3 Banner">
    <h1>Notes</h1>
</div>

<div class="row">
    <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mt-3">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3 footer-buffer">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

    </div>
</div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
