<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlumniSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlumniSite.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="@*col-md-12 mx-auto*@">
        @*<nav class="navbar ">*@
        <div class="col-md-8 @*mx-auto*@ @*justify-content-md-center*@ offset-md-3">
            <div class="row">
                @*    <div class="row">

                    </div>*@
                <div class="col-md-6">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/Alumni-Logo-01.png" />
                    </a>
                </div>
                @*  <div class="row">

                    </div>*@
                <div class="col-md-4">
                    <div class="@*float-right*@">
                        <a class="" href="https://www.linkedin.com/groups/13706636/">
                            <img src="~/Images/LinkedIn.png" />
                        </a>
                        <a class="" href="https://www.instagram.com/centralia_college_foundation/">
                            <img src="~/Images/Instagram.png" />
                        </a>
                        <a class="" href="https://www.facebook.com/CentraliaCollegeFoundation/">
                            <img src="~/Images/Facebook.png" />
                        </a>
                    </div>
                    <div class="col-md-6 invis @*float-right*@ justify-content-sm-end">spacing</div>
                    <div class="col-md-6 container navbar-collapse @*collapse*@ @*d-sm-inline-flex*@ @*float-right*@">
                        <ul class="navbar-nav @*flex-grow-1 justify-content-end*@ @*inline*@ ">
                            @*These below need to be put into admin and super admin only *@
                            <li class="nav-item">
                                <a class="nav-link text-dark navi" asp-area="" asp-controller="AlumniUsers" asp-action="Index">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark navi" asp-area="" asp-controller="AlumniUsers" asp-action="Create">New Alumni</a>
                            </li>

@*                            <li class="nav-item">
                                <a class="nav-link text-dark navi"
                                   href="https://www.centraliacollegealumni.org/">
                                    Return
                                </a>
                            </li>*@
                            @* <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle navi"
                                href="https://www.centraliacollegealumni.org/resources">
                                Resources
                                </a>

                                <ul class="dropdown-menu clearfix"
                                role="menu">
                                <li><a class="nav-link dropdown-item" href="https://www.centraliacollegealumni.org/zoom-backgrounds">Zoom Backgrounds</a></li>
                                <li><a class="nav-link dropdown-item" href="https://www.centraliacollegealumni.org/mentoring">Mentoring</a></li>
                                </ul>
                                </li>*@
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <div class="navbar-collapse collapse d-sm-inline-flex  @*float-right*@">

                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
@*        </div>
        </div>*@
        @*</nav>*@


    </header>
    <div class="@*container*@ col-md-7 @*mx-auto*@ offset-md-3">
        <main role="main" class="@*pb-2*@ ">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted">
        <div class="row"> </div>
        <div class="container">
            <div class="row">
                @* <div class="col-mt-12">*@
                <div class="col-sm-2">
                    <img src="~/Images/CCF-Logo-yellow.png" />
                </div>
                <div class="col-sm-2">
                    <p class="yellowed">Contact Us:</p>
                </div>
                <div class="dashed-Vertical-Line"></div>
                <div class="col-sm-2">
                    <p class="yellowed">Find us:</p>
                </div>
                <div class="dashed-Vertical-Line"></div>
                <div class="col-sm-2">
                    <p class="yellowed">Find us:</p>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
