<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlumniSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlumniSite.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="col-md-8 offset-2">
        <nav class="navbar navbar-expand-sm col-md-12">
        <div class="col-md-12">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Alumni-Logo-01.png" /></a>
            <div class="float-right" >
                <div class="float-right">
                    <ul class="navbar-nav">
                        <li><a style="padding:.5em" class="" href="https://www.linkedin.com/groups/13706636/"><img src="~/Images/LinkedIn.png" /></a></li>                       
                        <li><a style="padding:.5em" class="" href="https://www.instagram.com/centralia_college_foundation/"><img src="~/Images/Instagram.png" /></a></li>
                        <li><a style="padding:.5em" class="" href="https://www.facebook.com/CentraliaCollegeFoundation/"><img src="~/Images/Facebook.png" /></a></li>
                    </ul>
                </div>
                <br /><br /><br /><br />
                <div id="header-content">
                    <ul class="navbar-nav">
                            @if (SignInManager.IsSignedIn(User)) {
                                <li class="nav-item">
                                    <a class="nav-link text-dark navi" asp-area="" asp-controller="AlumniUsers" asp-action="Index">Search</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark navi" asp-area="" asp-controller="AlumniUsers" asp-action="Create">New Alumni</a>
                                </li>
                            } else {}
                            <partial name="_LoginPartial" />
                    </ul>                 
                </div>
            </div>
        </div>
        </nav>
    </header>
    <div class="col-md-8 offset-md-2">
        <main role="main" class="@*pb-2*@ ">
            @RenderBody()
        </main>
    </div>
    <br /><br /><br /><br />
    <footer class="footer text-muted">
        <div class="row"> </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img src="~/Images/CCF-Logo-yellow.png" />
                </div>
                <div class="col-sm-2">
                    <p class="yellowed">Contact Us:</p>
                </div>
                <div class="dashed-Vertical-Line"></div>
                <div class="col-sm-2">
                    <p class="yellowed">Find us:</p>
                </div>
                <div class="dashed-Vertical-Line"></div>
                <div class="col-sm-2">
                    <p class="yellowed">Find us:</p>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
