@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <img src="~/Images/CCBackground.webp" style="height:100%; width:100%"/>


    
</div>
<div></div>
