html {
  font-size: 14px;
}
.invis {
    color: rgba(255,0,0,0)
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.float-right {
    float:right;
}
.dashed-Vertical-Line {
    margin-top: 38px ;
    height: 45px;
    border-right: dashed 1px hsla(0,0%,100%,.5);
    border-left: 1px dashed rgba(0,0,0,.35);
    width: 0 !important;
    min-width: 0 !important;
 /*   padding: 0;
    border: 0;
    outline: 0;*/
    vertical-align: baseline;
    background: transparent;

}
.inline {
    display: inline-block;
}

.navi {
    color: black;
    font: bold 14px calibri;
}

    .navi:hover {
        background-color: #FECD06;
    }

    .navi:active {
        background-color: #FECD06;
    }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 100px;
    background-color: #082E6C;
    left: 0;
    margin-left: 0;
    min-width: 980px;
    height: 120px;
}
.Banner {
    background-color: #082E6C;
    color: #FECD06;
}
.footer-buffer {
    margin-bottom:60px;
}
.btn {
    background-color: #082E6C;
    color: #FECD06;
}
.btn:hover {
    background-color: #082E6C;
    color: #FECD06;
}
.btnMenu {
    background-color: white;
    color: #FECD06;
}

    .btnMenu:hover {
        background-color: #082E6C;
        color: #FECD06;
    }

.nav-secret {
    background-color:white;
    color: #082E6C;
    
}
    .nav-secret:active {
        background-color: #082E6C;
        color: #FECD06;
    }
    .nav-secret:hover {
        background-color: #082E6C;
        color: #FECD06;
    }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #082E6C;
    color: #FECD06;
}
